// main: ../style.scss


/*------------------------------------------------------------------------------*/
/* FOOTER */
/*------------------------------------------------------------------------------*/
footer{
    background-color: $color-dark;
    color: $color-light;
}
.footer{

    // footer-bottom --------------------------
    &-bottom{
        text-align: center;
        padding: 10px 0;
        line-height: 1.7;
        border-top: 0.1px solid $color-light;
        font-size: small;
        margin-bottom: 0;

    }

    // footer-left ----------------------------
    &-left{
        li{
            padding: 2% 0;
            font-size: 18px;
        }

        .icons{
            vertical-align: middle;
            font-size: 20px;
            padding-right: 8px;
        }

        .table{
            th, td{
                border: none;
            }

            th{
                text-align: right;
            }
        }
    }

    // footer-right ----------------------------
    &-right{
        .table{
            width: 65%;

            th, td{
                border: none;
            }
        }
    }
}



/*------------------------------------------------------------------------------*/
/* LARGE */
/*------------------------------------------------------------------------------*/
@include responsive(L){
    .footer-left .table{
        width: 70%;
    }
}

/*------------------------------------------------------------------------------*/
/* MEDIUM */
/*------------------------------------------------------------------------------*/
@include responsive(M){
    .footer-left .table{
        width: 70%;
    }
    .footer-right .table{
        width: 100% !important;
    }
}


/*------------------------------------------------------------------------------*/
/* SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(S){
    .footer-bottom{
        padding: 3% 20%;
        line-height: 1.4;
        font-size: .8rem;
    }


}


/*------------------------------------------------------------------------------*/
/* EXTRA SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(XS){
    .footer-bottom{
        font-size: 0.6rem;
        letter-spacing: 2px;
        padding: 1em 5em;
    }
}
