// main: ../style.scss


/*------------------------------------------------------------------------------*/
/* FOOTER */
/*------------------------------------------------------------------------------*/
footer{
    background-color: $color-dark;
    color: $color-light;
}
.footer-bottom{
    text-align: center;
    padding: 10px 0;
    line-height: 1.7;
    border-top: 0.1px solid $color-light;
    font-size: small;
    margin-bottom: 0;

}

.footer-left li{
    padding: 2% 0;
    font-size: 18px;
}
.footer-left .icons{
    vertical-align: middle;
    font-size: 20px;
    padding-right: 8px;
}
.footer-right .table{
    width: 65%;
}
.footer-left .table th, .footer-left .table td,
.footer-right .table th, .footer-right .table td{
    border: none;
}

.footer-left .table th{
    text-align: right;
}


/*------------------------------------------------------------------------------*/
/* MEDIUM */
/*------------------------------------------------------------------------------*/
@include responsive(M){

}


/*------------------------------------------------------------------------------*/
/* SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(S){
    .footer-bottom{
        padding: 3% 20%;
        line-height: 1.4;
        font-size: .8rem;
    }

    .footer-left .table{
        width: 70%;
    }
}


/*------------------------------------------------------------------------------*/
/* EXTRA SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(XS){
    .footer-bottom{
        font-size: 0.6rem;
        letter-spacing: 2px;
        padding: 5%;
    }
}
