// main: ../style.scss


/*------------------------------------------------------------------------------*/
/* header */
/*------------------------------------------------------------------------------*/

/* .navbar-toggler:not(:disabled):not(.disabled){
    position: fixed;
    float: right;
    right: 4%;
    top: 6%;
} */

.navbar-brand{
    width: 43%;
}

/* -- nav-bar active -- */
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active{
    color: $color-primary-dark !important;
}




/*------------------------------------------------------------------------------*/
/* LARGE */
/*------------------------------------------------------------------------------*/
@include responsive(L){
    .navbar-expand-lg .navbar-collapse{
        width: 100%;
    }
}

/*------------------------------------------------------------------------------*/
/* MEDIUM */
/*------------------------------------------------------------------------------*/
@include responsive(M){

}


/*------------------------------------------------------------------------------*/
/* SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(S){
    #header li{
        width: 100%;
        text-align: center;
        line-height: 4;
        margin-top: 0 !important;
    }
}


/*------------------------------------------------------------------------------*/
/* EXTRA SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(XS){

}
