// main: ../style.scss


/*------------------------------------------------------------------------------*/
/* header */
/*------------------------------------------------------------------------------*/

/* .navbar-toggler:not(:disabled):not(.disabled){
    position: fixed;
    float: right;
    right: 4%;
    top: 6%;
} */

.navbar-brand{
    width: 43%;
}

/* -- nav-bar active -- */
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active{
    color: #67340B !important;
}




/*------------------------------------------------------------------------------*/
/* MEDIUM */
/*------------------------------------------------------------------------------*/
@include responsive(M){

}


/*------------------------------------------------------------------------------*/
/* SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(S){

}


/*------------------------------------------------------------------------------*/
/* EXTRA SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(XS){

}
