// main: ../style.scss


/*------------------------------------------------------------------------------*/
/* header */
/*------------------------------------------------------------------------------*/

/* .navbar-toggler:not(:disabled):not(.disabled){
    position: fixed;
    float: right;
    right: 4%;
    top: 6%;
} */


/* -- nav-bar active -- */
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active{
    color: $color-primary-dark !important;
}





/*------------------------------------------------------------------------------*/
/* RESPONSIVE - MEDIA QUERIES */
/*------------------------------------------------------------------------------*/

/* Large devices -------------------------------------------------------------*/
@include large-device {

}

/* Medium devices ------------------------------------------------------------*/
@include medium-device {

}

/* Mobile Layout -------------------------------------------------------------*/
@include mobile-layout {

}

/* Small devices -------------------------------------------------------------*/
@include small-device {
    #header li{
        width: 100%;
        text-align: center;
        line-height: 4;
        margin-top: 0 !important;
    }
}

/* Wide Mobile Layout --------------------------------------------------------*/
@include wide-mobile {

}

/* Extra Small devices -------------------------------------------------------*/
@include xsmall-device {

}
