// main: ../_fonts.scss


@font-face {
    font-family: "Caviar Dreams";
    src: url("fonts/Caviar_Dreams/CaviarDreams.woff") format("woff"),
         url("fonts/Caviar_Dreams/CaviarDreams.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
