// main: ../style.scss

/* ---------------------------------------------- */
/* --- Medium devices (tablets, 768px and up) --- */
/* ---------------------------------------------- */
@media only screen and (max-width: 767px){
    /* ---------------   general   --------------- */
    #section-activity .bg-paw-left,
    #section-gallery .bg-paw-left,
    #section-event .bg-paw-right,
    #section-newsletter .bg-silhouette{
        background: inherit !important;;
    }
    #header li{
        width: 100%;
        text-align: center;
        line-height: 4;
        margin-top: 0 !important;
    }
    /* --------------   SECTION-SLIDE   -------------- */
    .box-left, .box-right{
        height: 78vh !important;
    }
    .box-left{
        position: absolute !important;
        background-color: rgba(34,34,34,0.6) !important;
    }
    .bg-slide{
        z-index: -1;
    }
    #section-slide .justify-content-center{
        padding: 0 5% !important;
    }
    .intro{
        padding: 12% 0 8% !important;
    }
    .bouton{
        margin-top: 5% !important;
    }
    #section-slide .btn {
        font-size: large;
    }
    /* -------------   SECTION-ACTIVITY   ------------ */
    #section-activity{
        height: 305vh !important;
        margin-top: 0 !important;
    }
    .cardActivity.is-expanded .cardActivity__expander{
        padding-top: 11% !important;
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    }
    .cardActivity-txt{
        text-align: justify !important;
        -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .cardActivity-info{
        -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 50% !important;
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }
    /* --------------   SECTION-EVENT   ------------- */
    #section-event{
        height: 305vh !important;
    }
    /* -------------   SECTION-GALLERY   -------------*/
    #section-gallery{
        height: 305vh !important;
    }
    /* -----------   SECTION-NEWSLETTER   ----------- */
    #section-newsletter{
        height: 76vh !important;
    }
    /* -------------   SECTION-CONTACT   ------------ */
    #section-contact{
        height: 150vh !important;
    }
    .info h1{
        padding: 5% 0 !important;
    }
}
