// main: ../style.scss

/*------------------------------------------------------------------------------*/
/* COLOR */
/*------------------------------------------------------------------------------*/
$color-primary : #90511e;



// $colorSecondary :
$color-dark : #333;
$colorL-light : #FAFAFA;

$color-primary-light: #B47A4B;
$color-primary-dark: #67340B ;


/*------------------------------------------------------------------------------*/
/* TYPOGRAPHIE */
/*------------------------------------------------------------------------------*/
$font-primary: 'Caviar Dreams', sans-serif;
//$fontSecondary: 'Libre Baskerville', serif;


/*------------------------------------------------------------------------------*/
/* BREAKPOINT - LAYOUT */
/*------------------------------------------------------------------------------*/
$XS:  320px;
$S:   480px;
$M:   768px;
$L:   992px;
