// main: ../style.scss

/*------------------------------------------------------------------------------*/
/* COLOR */
/*------------------------------------------------------------------------------*/

// Primary --------------------
$color-primary : #90511e;
$color-primary-light: #B47A4B;
$color-primary-dark: #67340B ;

// Secondary ------------------
// $color-secondary :
// $color-secondary-light :
// $color-secondary-dark:



$color-dark : #222;
$color-light : #FAFAFA;




/*------------------------------------------------------------------------------*/
/* TYPOGRAPHIE */
/*------------------------------------------------------------------------------*/
$font-primary: 'Caviar Dreams', sans-serif;
//$fontSecondary: 'Libre Baskerville', serif;


/*------------------------------------------------------------------------------*/
/* BREAKPOINT - LAYOUT */
/*------------------------------------------------------------------------------*/
$XS:  320px;
$S:   480px;
$M:   768px;
$L:   992px;
