// main: ../style.scss


/*------------------------------------------------------------------------------*/
/* GENERAL */
/*------------------------------------------------------------------------------*/
html, body{
    font-family: $font-primary;
    background-color: $color-light;
    color: $color-dark;
}

a{
    text-decoration: none;
    color: inherit;

    &:hover{
        text-decoration: none;
        color: $color-primary;
    }
}

img{
    width: 100%;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.titre{
    font-size: 43px;
    margin-bottom: 4%;
    margin-top: 2%;
}

.float{
    &-right{
        float: right;
    }
    &-left{
        float: left;
    }
}

.clear-both{
    clear: both;
}

.txt-color{
    color: $color-primary-light;
}

.strong-color{
    color: $color-primary-light;
    font-weight: bold;
}

/*------------------------------------------------------------------------------*/
/* RESPONSIVE - MEDIA QUERIES */
/*------------------------------------------------------------------------------*/

/* Large devices -------------------------------------------------------------*/
@include large-device {

}

/* Medium devices ------------------------------------------------------------*/
@include medium-device{
    #section-activity .bg-paw-left,
    #section-gallery .bg-paw-left,
    #section-event .bg-paw-right,
    #section-newsletter .bg-silhouette{
        background: none;
    }
}


/* Mobile Layout -------------------------------------------------------------*/
@include mobile-layout {
    #section-activity .bg-paw-left,
    #section-gallery .bg-paw-left,
    #section-event .bg-paw-right,
    #section-newsletter .bg-silhouette{
        background: none;
    }
}

/* Small devices -------------------------------------------------------------*/
@include small-device {
    #section-activity .bg-paw-left,
    #section-gallery .bg-paw-left,
    #section-event .bg-paw-right,
    #section-newsletter .bg-silhouette{
        background: none;
    }
}

/* Wide Mobile Layout --------------------------------------------------------*/
@include wide-mobile {
    #section-activity .bg-paw-left,
    #section-gallery .bg-paw-left,
    #section-event .bg-paw-right{
        background: none;
    }
}

/* Extra Small devices -------------------------------------------------------*/
@include xsmall-device {
    #section-activity .bg-paw-left,
    #section-gallery .bg-paw-left,
    #section-event .bg-paw-right{
        background: none;
    }
}
