// main: ../style.scss

/*------------------------------------------------------------------------------*/
/* SECTION-ACTIVITY */
/*------------------------------------------------------------------------------*/
#section-activity{
    max-height: 100vh;
    height: 100%;

    .bg-paw-left{
        padding-top: 4em;
    }

    .activiy-title{
        padding-bottom: 1%;
        text-align: justify;
        padding-top: 1em;
    }

    .titre{
        font-size: 2em;
        background-color: $color-light;
    }

    img{
        max-width: 100%;
        width: 100%;
        max-height: 192px;
        min-height: 192px;
        height: 100%;

        @include transition-bloc(all .3s);
    }

    .cardActivity-title{
        padding: 5% 0;
        background: #b47a4b;
        font-size: 1em;
    }
}

.btn-center .btn{
    font-size: x-large;
    letter-spacing: 2px;
    width: 50%;
}

/*------------------------------------------------------------------------------*/
/* RESPONSIVE - MEDIA QUERIES */
/*------------------------------------------------------------------------------*/

/* Large devices -------------------------------------------------------------*/
@include large-device {
    #section-activity{
        .bg-paw-left{
            padding-top: 3em;
            padding-bottom: 3em;
        }

        .cardActivity-title{
            font-size: large;
        }
    }
}

/* Medium devices ------------------------------------------------------------*/
@include medium-device {
    #section-activity{
        min-height: 70vh !important;
        max-height: 120vh !important;
        height: auto !important;

        .bg-paw-left{
            background: inherit;
            padding-top: 2em;
        }

        .activiy-title{
            padding-top: 1em;
            padding-bottom: .2em;
        }

        .titre{
            font-size: 1.5em;
            margin: .9em;
        }

        .cardActivity{
            margin: 0 1.5em;
        }
    }
}

/* Mobile Layout -------------------------------------------------------------*/
@include mobile-layout {

}


/* medium-small -------------------------------------------------------------*/
@include medium-small{
    #section-activity{
        min-height: 500vh !important;
        max-height: 500vh !important;
        height: 100% !important;
    }

    .cardActivity__expander{
        padding-top: 15% !important;
    }
}

/* Small devices -------------------------------------------------------------*/
@include small-device {

}

/* Wide Mobile Layout --------------------------------------------------------*/
@include wide-mobile {
    #section-activity{
        min-height: 215vh;
        max-height: 215vh;
        height: auto;

        .bg-paw-left{
            padding-top: 0;
        }

        .titre{
            font-size: 1.5em;
            background-color: inherit;
        }

        img{
            min-height: 250px;
            max-height: 250px;
        }
    }

    .cardActivity{
        margin-bottom: 0;

        .cardActivity__inner{
            min-height: 325px;
            max-height: 325px;
        }

        img{
            min-height: 380px;
            max-height: 380px;
            height: 10%;
            min-width: 255px;
            max-width: 255px;
            width: 10%;
        }
    }

    .cardActivity.is-expanded .cardActivity__expander{
        min-height: 340px;
        height: auto;
    }

    .cardActivity{
        margin-bottom: 0;

        /* .cardActivity__inner{
            max-width: 240px;
        } */

        .info-left, .info-right{
            position: absolute;
            bottom: 0;
        }

        .info-left{
            left: 0;
        }

        .info-right{
            right: 0;
        }
    }
}

/* Extra Small devices -------------------------------------------------------*/
@include xsmall-device {
    #section-activity{
        min-height: 255vh;
        max-height: 255vh;
        height: auto;

        .bg-paw-left{
            padding-top: 0;
        }

        .titre{
            font-size: larger;
            background-color: inherit;
        }

        img{
            min-height: 230px;
            max-height: 230px;
        }
    }

    .cardActivity.is-expanded .cardActivity__expander{
        min-height: 380px;
        height: auto;
    }


    .cardActivity{
        margin-bottom: 0;

        .cardActivity__inner{
            max-width: 240px;
        }

        .info-left, .info-right{
            position: absolute;
            bottom: 0;
        }

        .info-left{
            left: 0;
        }

        .info-right{
            right: 0;
        }
    }
}
