// main: ../style.scss
/*------------------------------------------------------------------------------*/
/* SECTION-EVENT */
/*------------------------------------------------------------------------------*/

#section-event{
    max-height: 100vh;
    height: 100%;

    .bg-paw-right{
        padding-top: 3em;
    }

    .titre{
        margin-top: 0;
        margin-bottom: 1em;
    }

    .btn{
        margin: 2em 0;
    }
}


/*------------------------------------------------------------------------------*/
/* ARCHIVE-EVENT */
/*------------------------------------------------------------------------------*/
#archive-event{
    padding-top: 11%;

    .titre{
        text-align: center;
    }

    .row{
        padding-bottom: 3%;
    }
}


/*------------------------------------------------------------------------------*/
/* SINGLE-EVENT */
/*------------------------------------------------------------------------------*/
#single-event {
    .w-100 img{
        width: 100% !important;
        height: 90vh;
    }

    .titre{
        color: $color-primary-light;
        font-family: 'Caviar Dreams Bold';
    }

    .event-desc{
        text-align: justify;
        padding-bottom: 10%;
        padding-right: 5%;

        p{
            line-height: 1.6;
        }
    }
}


.card-info-event{
    background-color:inherit;
    box-shadow: 0px 1px 2px 0px rgb(180, 122, 75);
    margin-top: 6%;

    .card-title{
        font-size: larger;
        color: $color-primary-light;
        font-family: 'Caviar Dreams Bold';
    }

    .list-group-item{
        background-color: inherit;
        border: none;
    }

    .icons{
        padding-right: 2%;
        vertical-align: middle;
    }
}


/*------------------------------------------------------------------------------*/
/* LARGE */
/*------------------------------------------------------------------------------*/
@include responsive(L) {
    /* --- SECTION-EVENT --- */
    #section-event{
        height: 110vh !important;

        .bg-paw-right{
            padding-top: 8% !important;
            height: 73vh;
        }

        .titre{
            font-size: 37px;
            text-align: center;
        }
    }

    #section-event .date-event,
    #archive-event .date-event{
        height: 26vh;
        width: 22%;
    }
    #section-event img,
    #archive-event img{
        height: 26vh;
        width: 100%;
    }
    #section-event .annee,
    #archive-event .annee{
        font-size: small;
    }
    #section-event .btn{
        margin: 3% 0;
    }

    /* --- ARCHIVE-EVENT --- */
    #archive-event{
        padding-top: 14% !important;

        .titre{
            margin-bottom: 0;
        }
    }

}


/*------------------------------------------------------------------------------*/
/* MEDIUM */
/*------------------------------------------------------------------------------*/
@include responsive(M){
    /* --- SECTION-EVENT --- */
    #section-event{
        height: 220vh !important;

        .bg-paw-right{
            height: 80vh !important;
        }

        .titre{
            text-align: center;
        }
    }


    /* --- ARCHIVE-EVENT --- */
    #archive-event{
        padding-top: 14% !important;

        .titre{
            margin-bottom: 0;
            font-size: 30px !important;
            margin-bottom: 3% !important;
            margin-top: 7% !important;
        }
    }

    /* --- SINGLE-EVENT --- */
    #single-event .event-desc{
        padding-bottom: 7% !important;

        .titre{
            font-size: 30px !important;
            margin-bottom: 3% !important;
            margin-top: 2% !important;
        }
    }

    .card-info-event{
        margin-bottom: 11%;
        margin-top: 0;

        .list-group-item{
            margin: 10px 0;
            padding: 0;
        }
    }


}


/*------------------------------------------------------------------------------*/
/* SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(S) {
    /* --- SECTION-EVENT --- */
    #section-event{
        height: 305vh !important;
    }

}


/*------------------------------------------------------------------------------*/
/* EXTRA SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(XS) {
    /* --- SECTION-EVENT --- */


    /* --- ARCHIVE-EVENT --- */


    /* --- SINGLE-EVENT --- */



}
