// main: ../style.scss


/*------------------------------------------------------------------------------*/
/* SECTION-GALLERY */
/*------------------------------------------------------------------------------*/
#section-gallery{
    max-height: 100vh;
    height: 100%;

    .bg-paw-left{
        padding-top: 2em;
    }

    .titre{
        margin-top: 1em;
        margin-bottom: 1.5em;
    }

    .btn{
        margin: 2em 0;
    }
}


/*------------------------------------------------------------------------------*/
/* ARCHIVE-GALLERY */
/*------------------------------------------------------------------------------*/
#archive-gallery{
    padding-top: 11%;
    padding-bottom: 5em;

    .titre{
        text-align: center;
        margin-top: 1em;
        margin-bottom: 2em;
    }

     .row{
        //padding-bottom: 3%;
    }

    .cardGallery{
        margin-bottom: 3rem;
    }
}


/*------------------------------------------------------------------------------*/
/* ARCHIVE-GALLERY */
/*------------------------------------------------------------------------------*/

#single-gallery {
    .w-100 img{
        width: 100% !important;
        height: 90vh;
    }

    .titre{
       color: $color-primary-light;
       font-family: 'Caviar Dreams Bold';
   }

   .gallery-desc{
      text-align: justify;
      padding-bottom: 10%;
      padding-right: 5%;

        .gallery{
          padding-top: 5%;
        }
  }
}


.card-info-gallery{
    background-color:inherit;
    box-shadow: 0px 1px 2px 0px rgb(180, 122, 75);
    margin-top: 6%;

    .card-title{
        font-size: larger;
        color: $color-primary-light;
        font-family: 'Caviar Dreams Bold';
    }

    .list-group-item{
        background-color: inherit;
        border: none;
    }

    .icons{
        padding-right: 2%;
        vertical-align: middle;
    }
}


/*------------------------------------------------------------------------------*/
/* RESPONSIVE - MEDIA QUERIES */
/*------------------------------------------------------------------------------*/

/* Large devices -------------------------------------------------------------*/
@include large-device {
    // SECTION-GALLERY ------------------------------
    #section-gallery {
    min-height: 90vh;
    max-height: 90vh;
    height: 100%;

        .bg-paw-left{
            padding-top: 1em;
            max-height: 90vh;
            min-height: 90vh;
            height: 100%;
        }

        .titre{
            font-size: 36px;
            text-align: center;
            margin-top: 1em;
            background-color: $color-light;
        }

        .btn{
            margin: 1em 0;
            background-color: $color-light;
            color: $color-primary-light;

            &:hover{
                background-color: $color-primary;
                color: $color-light;
            }
        }
    }

    .cardGallery{
        min-height: 335px;
        max-height: 335px;
        height: 100%;
        margin-bottom: 2em;

        .card-title{
            bottom: 2.6em;
        }
    }

    /* --- ARCHIVE-GALLERY --- */

    /* --- SINGLE-GALLERY --- */
    #single-gallery {
        .gallery{
            margin-right: -15px;
            margin-left: -15px;

            @include flexbox;
            @include flex-wrap;
        }

        .gallery-item{
            max-width: 33.333333%;
            margin: 10px 0;

            @include flex(0 0 33.333333%);
        }
    }

    .card-info-gallery .list-group-item{
        margin: 10px 0;
        padding: 0;
    }

}

/* Medium devices ------------------------------------------------------------*/
@include medium-device {
    /* --- SECTION-GALLERY --- */
    #section-gallery {
        max-height: 120vh;
        min-height: 70vh;
        height: auto;

        .bg-paw-left{
            background: none;
            background-position: none;
            background-attachment: none;
            padding-top: 2em;
        }

        .titre{
            text-align: center;
            font-size: 2em;
            margin-bottom: 1.3em;
        }
    }

    .item-gallery{
        padding-bottom: 30px;
    }

    /* --- ARCHIVE-GALLERY --- */
    #archive-gallery .titre{
        font-size: 30px !important;
        margin-bottom: 3% !important;
        margin-top: 7% !important;
    }

    /* --- SINGLE-GALLERY --- */
    #single-gallery .gallery-desc{
        padding-bottom: 7% !important;

        .titre{
            font-size: 30px !important;
            margin-bottom: 3% !important;
            margin-top: 2% !important;
        }
    }

    .card-info-gallery{
        margin-bottom: 11%;
        margin-top: 0;
    }
}



/* Mobile Layout -------------------------------------------------------------*/
@include mobile-layout {

}

/* Small devices -------------------------------------------------------------*/
@include small-device {
    /* --- SECTION-GALLERY --- */
    #section-gallery{
        //height: 305vh !important;
    }
}

/* Wide Mobile Layout --------------------------------------------------------*/
@include wide-mobile {

}

/* Extra Small devices -------------------------------------------------------*/
@include xsmall-device {
    #section-gallery{
        min-height: 295vh;
        max-height: 295vh;
        height: 100%;

        .bg-paw-left{
            padding-top: 2em;
        }

        .titre{
            font-size: 1.5em;
        }

        .btn{
            width: 100%;
            font-size: large;
        }
    }
}
