// main: ../style.scss


/*------------------------------------------------------------------------------*/
/* SECTION-GALLERY */
/*------------------------------------------------------------------------------*/
#section-gallery{
    height: 83vh;

    .bg-paw-left{
        padding-top: 8%;
        height: 85vh;
    }
}


/*------------------------------------------------------------------------------*/
/* ARCHIVE-GALLERY */
/*------------------------------------------------------------------------------*/
#archive-gallery{
    padding-top: 11%;
}
#archive-gallery .titre{
    text-align: center;
}

#archive-gallery .row{
    padding-bottom: 3%;
}

/*------------------------------------------------------------------------------*/
/* ARCHIVE-GALLERY */
/*------------------------------------------------------------------------------*/

#single-gallery .w-100 img{
    width: 100% !important;
    height: 90vh;
}

 #single-gallery .titre{
    color: #B47A4B;
    font-family: 'Caviar Dreams Bold';
}

 #single-gallery .gallery-desc{
    text-align: justify;
    padding-bottom: 10%;
    padding-right: 5%;
}

#single-gallery .gallery-desc .gallery{
    padding-top: 5%;
}

.card-info-gallery{
    background-color:inherit;
    box-shadow: 0px 1px 2px 0px rgb(180, 122, 75);
    margin-top: 6%;
}
.card-info-gallery .card-title{
    font-size: larger;
    color: #B47A4B;
    font-family: 'Caviar Dreams Bold';
}
.card-info-gallery .list-group-item{
    background-color: inherit;
    border: none;
}
.card-info-gallery .icons{
    padding-right: 2%;
    vertical-align: middle;
}



/*------------------------------------------------------------------------------*/
/* LARGE */
/*------------------------------------------------------------------------------*/
@include responsive(L){
    /* --- SECTION-GALLERY --- */
    #section-gallery {
        height: 85vh !important;
    }
    #section-gallery .bg-paw-left{
        margin-top: 1% !important;
        height: 66vh !important;
    }
    #section-gallery .titre{
        font-size: 36px;
        text-align: center;
        margin-top: 4%;
    }
    .cardGallery .card-img-top{
        height: 122px !important;
    }
    .cardGallery img{
        height: 25vh !important;
    }
    #section-gallery .btn{
        margin: 5% 0;
    }


    /* --- ARCHIVE-GALLERY --- */


    /* --- SINGLE-GALLERY --- */
    #single-gallery .gallery{
        margin-right: -15px;
        margin-left: -15px;
        display: flex;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    #single-gallery .gallery-item{
        max-width: 33.333333%;
        margin: 10px 0;
        -webkit-flex: 0 0 33.333333%;
        -moz-flex: 0 0 33.333333%;
        -ms-flex: 0 0 33.333333%;
        -o-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
    }

}

/*------------------------------------------------------------------------------*/
/* MEDIUM */
/*------------------------------------------------------------------------------*/
@include responsive(M){
    /* --- SECTION-GALLERY --- */
    #section-gallery {
        height: 120vh !important;
    }
    #section-gallery .bg-paw-left{
        height: 80vh !important;
    }
    #section-gallery .titre{
        margin-bottom: 4% !important;
    }
    .item-gallery{
        padding-bottom: 30px;
    }

    /* --- ARCHIVE-GALLERY --- */
    #archive-gallery .titre{
        font-size: 30px !important;
        margin-bottom: 3% !important;
        margin-top: 7% !important;
    }

    /* --- SINGLE-GALLERY --- */
    #single-gallery .gallery-desc{
        padding-bottom: 7% !important;
    }
    .card-info-gallery{
        margin-bottom: 11%;
        margin-top: 0;
    }
    #single-gallery .titre{
        font-size: 30px !important;
        margin-bottom: 3% !important;
        margin-top: 2% !important;
    }
}


/*------------------------------------------------------------------------------*/
/* SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(S){
    /* --- SECTION-GALLERY --- */


    /* --- ARCHIVE-GALLERY --- */


    /* --- SINGLE-GALLERY --- */




}


/*------------------------------------------------------------------------------*/
/* EXTRA SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(XS){
    /* --- SECTION-GALLERY --- */


    /* --- ARCHIVE-GALLERY --- */


    /* --- SINGLE-GALLERY --- */




}
