// main: ../style.scss


/*------------------------------------------------------------------------------*/
/* SECTION-GALLERY */
/*------------------------------------------------------------------------------*/
#section-gallery{
    max-height: 100vh;
    height: 100%;

    .bg-paw-left{
        padding-top: 2em;
    }

    .titre{
        margin-top: 1em;
        margin-bottom: 1.5em;
    }

    .btn{
        margin: 2em 0;
    }
}


/*------------------------------------------------------------------------------*/
/* ARCHIVE-GALLERY */
/*------------------------------------------------------------------------------*/
#archive-gallery{
    padding-top: 11%;
    padding-bottom: 5em;

    .titre{
        text-align: center;
        margin-top: 1em;
        margin-bottom: 2em;
    }

     .row{
        //padding-bottom: 3%;
    }

    .cardGallery{
        margin-bottom: 3rem;
    }
}


/*------------------------------------------------------------------------------*/
/* ARCHIVE-GALLERY */
/*------------------------------------------------------------------------------*/

#single-gallery {
    .w-100 img{
        width: 100% !important;
        height: 90vh;
    }

    .titre{
       color: $color-primary-light;
       font-family: 'Caviar Dreams Bold';
   }

   .gallery-desc{
      text-align: justify;
      padding-bottom: 10%;
      padding-right: 5%;

        .gallery{
          padding-top: 5%;
        }
  }
}


.card-info-gallery{
    background-color:inherit;
    box-shadow: 0px 1px 2px 0px rgb(180, 122, 75);
    margin-top: 6%;

    .card-title{
        font-size: larger;
        color: $color-primary-light;
        font-family: 'Caviar Dreams Bold';
    }

    .list-group-item{
        background-color: inherit;
        border: none;
    }

    .icons{
        padding-right: 2%;
        vertical-align: middle;
    }
}


/*------------------------------------------------------------------------------*/
/* RESPONSIVE - MEDIA QUERIES */
/*------------------------------------------------------------------------------*/

/* Large devices -------------------------------------------------------------*/
@include large-device {
    // SECTION-GALLERY ------------------------------
    #section-gallery {
        min-height: 90vh;
        max-height: 90vh;
        height: 100%;

        .bg-paw-left{
            padding-top: 1em;
            max-height: 90vh;
            min-height: 90vh;
            height: 100%;
        }

        .titre{
            font-size: 36px;
            text-align: center;
            margin-top: 1em;
            background-color: $color-light;
        }

        .btn{
            margin: 1em 0;
            background-color: $color-light;
            color: $color-primary-light;

            &:hover{
                background-color: $color-primary;
                color: $color-light;
            }
        }
    }

    .cardGallery{
        min-height: 335px;
        max-height: 335px;
        height: 100%;
        margin-bottom: 2em;

        .card-title{
            bottom: 2.6em;
        }
    }

    // ARCHIVE-GALLERY ------------------------------
    #archive-gallery{
        margin-top: 0;
        margin-bottom: 2em;
        padding-bottom: 0;

        .titre{
            margin-bottom: .9em;
        }
    }

    //SINGLE-GALLERY -------------------------------
    #single-gallery {
        .w-100 img{
            height: 70vh;
        }

        .titre{
            font-size: 2.5em;
        }

        .gallery{
            margin-right: -15px;
            margin-left: -15px;

            @include flexbox;
            @include flex-wrap;
        }

        .gallery-item{
            max-width: 33.333333%;
            margin: 10px 0;

            @include flex(0 0 33.333333%);
        }
    }

    .card-info-gallery .list-group-item{
        margin: 10px 0;
        padding: 0;
    }

}

/* Medium devices ------------------------------------------------------------*/
@include medium-device {
    // SECTION-GALLERY ----------------------------------------
    #section-gallery {
        max-height: 120vh;
        min-height: 70vh;
        height: auto;

        .bg-paw-left{
            background: none;
            background-position: none;
            background-attachment: none;
            padding-top: 2em;
        }

        .titre{
            text-align: center;
            font-size: 2em;
            margin-bottom: 1.3em;
        }
    }

    .item-gallery{
        padding-bottom: 30px;
    }

    // ARCHIVE-GALLERY ----------------------------------------
    #archive-gallery{
        margin-top: 1em;
        margin-bottom: 3em;

        .titre{
            font-size: 2.2em;
            margin-top: 1em;
            margin-bottom: 1.5em;
        }
    }

    // SINGLE-GALLERY -----------------------------------------
    #single-gallery{
        .w-100 img{
            height: 60vh;
        }

        .titre{
            font-size: 2.5em;
            margin-top: .8em;
            margin-bottom: .5em;
        }

        .gallery-desc{
            margin-bottom: 3em;
            padding-right: 0;
            padding-bottom: 0;

            .gallery{
                padding-top: 1em;
            }
        }
    }

    .card-info-gallery{
        margin-top: 0;
        margin-bottom: 2em;
        @include flexbox;
        @include align-items(center);

        .card-body{
            width: 60%;
        }

        .list-group-item{
            margin: 10px 0;
            padding: 0;
        }
    }
}



/* Mobile Layout -------------------------------------------------------------*/
@include mobile-layout {
    // section-gallery --------------------------------------
    #section-gallery{

    }

    // archive-gallery --------------------------------------
    #archive-gallery{

    }

    // single-gallery ---------------------------------------
    #single-gallery{

    }
}

/* Small devices -------------------------------------------------------------*/
@include small-device {
    // section-gallery --------------------------------------
    #section-gallery{

    }

    // archive-gallery --------------------------------------
    #archive-gallery{

    }

    // single-gallery ---------------------------------------
    #single-gallery{

    }
}

/* Wide Mobile Layout --------------------------------------------------------*/
@include wide-mobile {
    // section-gallery --------------------------------------
    #section-gallery{
        min-height: 210vh;
        max-height: 210vh;
        height: 100%;

        .titre{
            font-size: x-large;
            margin-bottom: 1.5em;
        }

        .btn{
            width: 100%;
            font-size: large;
            margin: 1em 0;
        }
    }
    .cardGallery{
        min-height: 340px;
        max-height: 340px;
        height: 100%;
        margin-bottom: 3em;
        &:last-child{
            margin-bottom: 1.5em;
        }

        .card-img-top{
            min-height: 270px;
            max-height: 270px;
            height: 100%;

            img{
                min-height: 250px;
                max-height: 250px;
                height: 100%;

                min-width: 408px;
                max-width: 408px;
                width: 100%;
            }
        }

        .card-body{
            margin-top: 1em;
        }

        .card-title{
            bottom: 2.1em;
        }
    }

    // archive-gallery --------------------------------------
    #archive-gallery{
        margin-top: 7em;
        margin-bottom: 1em;
        padding: 0;

        .titre{
            font-size: x-large;
            margin-top: 1em;
            margin-bottom: 1.3em;
        }

        .cardGallery {
            .card-img-top img{
                min-width: 436px;
                max-width: 436px;
            }
            .card-title{
                bottom: 2em;
            }
        }
    }

    // single-gallery ---------------------------------------
    #single-gallery{
        margin-top: 2em;

        .w-100 img{
            height: 50vh;
        }

        .titre{
            font-size: xx-large;
            margin-top: .7em;
            margin-bottom: .5em;
        }

        .gallery-desc{
            font-size: smaller;
            padding: .5em;

            .gallery{
                @include display-grid;
                -ms-grid-columns: 1fr 20px 1fr;
                grid-template-columns: repeat(2, 1fr);
                grid-column-gap: 20px;
                margin-top: -2em;
                margin-left: 30px;
            }
        }

        #gallery-1 img{
            min-width: 160px;
            max-width: 160px;
            width: 100%;
        }
    }

    .card-info-gallery{
        margin-top: 1em;
        margin-bottom: 2em;
        @include flexbox;
        @include align-items(center);

        .card-body{
            width: 95%;
        }

        .card-title{
            font-size: large;
        }

        .list-group-item{
            font-size: smaller;
            margin: 5px 0;
        }
    }
}

/* Extra Small devices -------------------------------------------------------*/
@include xsmall-device {
    // section-gallery --------------------------------------
    #section-gallery{
        min-height: 295vh;
        max-height: 295vh;
        height: 100%;

        .bg-paw-left{
            padding-top: 2em;
        }

        .titre{
            font-size: 1.5em;
        }

        .btn{
            width: 100%;
            font-size: large;
        }
    }

    .cardGallery{
        min-height: 325px;
        max-height: 325px;

        .card-img-top{
            min-height: 245px;
            max-height: 245px;
        }

        .card-title{
            bottom: 2.2em;
        }

        .card-body{
            margin-top: 2em;
        }
    }


    // archive-gallery --------------------------------------
    #archive-gallery{
        margin-top: 5em;

        .titre{
            font-size: x-large;
            margin-top: 1em;
            margin-bottom: 1.3em;
        }

        .cardGallery .card-title{
            bottom: 2em;
        }
    }

    // single-gallery ---------------------------------------
    #single-gallery{
        margin-top: 2em;

        .w-100 img{
            height: 50vh;
        }

        .titre{
            font-size: xx-large;
            margin-top: .7em;
            margin-bottom: .5em;
        }

        .gallery-desc{
            font-size: smaller;
            padding: .5em;

            .gallery{
                @include display-grid;
                -ms-grid-columns: 1fr 20px 1fr;
                grid-template-columns: repeat(2, 1fr);
                grid-column-gap: 20px;
                margin-top: -1em;
            }
        }

        #gallery-1 img{
            min-width: 140px;
            max-width: 140px;
            width: 100%;
        }

    }

    .card-info-gallery{
        margin-top: 1em;
        margin-bottom: 2em;
        @include flexbox;
        @include align-items(center);

        .card-body{
            width: 95%;
        }

        .card-title{
            font-size: large;
        }

        .list-group-item{
            font-size: smaller;
            margin: 5px 0;
        }
    }
}
