// main: ../style.scss



/*------------------------------------------------------------------------------*/
/* SECTION-SLIDE */
/*------------------------------------------------------------------------------*/
#section-slide{
    height: 100%;
    max-height: 100vh;
    padding-top: 4em;


    //BOX-LEFT ------------------------------------------
    .box-left{
        box-sizing: border-box;
        max-height: 92vh;
        height: 100%;
    }

    .justify-content-center{
        padding: 10%;
    }

    .intro{
        text-align: justify;
        padding: 22% 0 15%;
        font-size: 31px;
    }

    .accroche{
        font-size: 36px;
        font-weight: bold;
        letter-spacing: 5px;
        text-align: center;
        padding-bottom: 5%;
    }

    .btn-left .btn, .btn-right .btn{
        font-size: larger;
        letter-spacing: 3px;
        width: 100%;
    }

    .bouton .btn{
        letter-spacing: inherit;
        min-width: 100%;
    }

    // BOX-RIGHT -------------------------------------
    .bg-slide{
        padding: 0;
        margin: 0;

        img{
           /* background: url("../img/slide-548634.jpg") no-repeat center; */
           background-size: cover;
           box-sizing: border-box;
           max-height: 92vh;
           height: 100%;
           width: 100%;
       }
    }
}


/*------------------------------------------------------------------------------*/
/* SECTION-CONTACT */
/*------------------------------------------------------------------------------*/
#section-contact{
    min-height: 90vh;
    max-height: 90vh;
    height: 100%;

    h1{
        font-size: 2em;
        line-height: 3;
        margin-top: 2em;
    }
    .map{
        margin: 0;
        padding: 0;
        padding-top: 3%;
    }

    .footer-left, .footer-right{
        padding-left: 6em;
    }
}


/* Large devices -------------------------------------------------------------*/
@include large-device{
    // SECTION-SLIDE ---------------------------------------
    #section-slide{
        padding-top: 9%;
        max-height: 80vh ;
        min-height: 55vh;
        height: 100%;

        .justify-content-center{
            padding: 11% 10% !important;
        }

        .intro {
            padding: 15% 0 13%;
            font-size: 20px;
        }
        .accroche{
            font-size: 26px;
            padding-bottom: 8%;
        }
        .btn{
            width: 100%;
        }
    }

    //SECTION-CONTACT --------------------------------------
    #section-contact{
        min-height: 85vh;
        max-height: 85vh;
        height: 100%;

        .footer-left, .footer-right{
            padding-left: 6em;
        }

        h1{
            margin-top: 1.2em;
        }
    }
}

/* Medium devices ------------------------------------------------------------*/
@include medium-device{

    // section-slide ------------------------------------------------
    #section-slide{
        padding-top: 4em;
        min-height: 65vh;
        max-height: 65vh;
        height: 100%;

        // box-left ---------------------------------
        .box-left{
            height: 100%;
            min-height: 60vh;
            max-height: 60vh;
        }
        .intro{
            font-size: 1.5em;
            padding-top: 1.4em;
            padding-bottom: 1.2em;
        }
        .accroche{
            font-size: 2em;
            padding-bottom: .1em;
            line-height: normal;
        }

        .bouton{
            margin-top: 2em;

            .btn{
                min-width: 100%;
            }
        }

        // box-right ------------------------------
        .bg-slide img{
            min-height: 60vh;
            max-height: 60vh;
            height: 100%;
        }
    }

    // section-contact ----------------------------------------------
    #section-contact{
        min-height: 60vh;
        max-height: 70vh;
        height: auto;

        .footer-left, .footer-right{
            padding-left: 4em;
        }

        h1{
            font-size: 1.5em;
            line-height: 2.1;
        }

        .table{
            font-size: medium !important;
        }
    }
}

/* Mobile Layout -------------------------------------------------------------*/
@include mobile-layout {
    // section-slide ---------------------------------------------
    #section-slide{
        padding-top: 0;
        margin-top: 5em;
        min-height: 70vh;
        max-height: 70vh;
        height: auto;

        .box-left, .box-right{
            min-height: 80vh;
            max-height: 80vh;
            height: auto;
        }

        // box-left --------------------------------
        .justify-content-center{
            padding: inherit;
        }

        .intro{
            padding: 0;
            font-size: 1.3em;
            margin-top: 2em;
            margin-bottom: 1.5em;
        }

        .accroche{
            font-size: 1.5em;
            padding: 0;
        }

        //box-right --------------------------------
        .box-right{
            display: none;
        }
    }

    //section-contact --------------------------------------------
    #section-contact{

    }
}

/* Small devices -------------------------------------------------------------*/
@include small-device{
    // section-slide ---------------------------------------------
    #section-slide{
        padding-top: 0;
        margin-top: 5em;
        min-height: 70vh;
        max-height: 70vh;
        height: auto;

        .box-left, .box-right{
            min-height: 75vh;
            max-height: 75vh;
            height: auto;
        }

        // box-left --------------------------------
        .justify-content-center{
            padding: inherit;
        }

        .intro{
            padding: 12% 0 8%;
            font-size: 1.5em;
        }

        .accroche{
            font-size: 2em;
        }

        //box-right --------------------------------
        .box-right{
            display: none;
        }
    }


    // section-contact ------------------------------------------
    #section-contact{
        //height: 150vh !important;
    }
    .info h1{
        //padding: 5% 0 !important;
    }
}

/* Wide Mobile Layout --------------------------------------------------------*/
@include wide-mobile {
    // section-slide ---------------------------------------------
    #section-slide{
        padding-top: 0;
        margin-top: 5em;
        min-height: 67vh;
        max-height: 67vh;
        height: auto;

        .box-left, .box-right{
            min-height: 65vh;
            max-height: 65vh;
            height: auto;
        }

        // box-left --------------------------------
        .justify-content-center{
            padding: inherit;
        }

        .intro{
            padding: 12% 0 8%;
            font-size: 1.5em;
        }

        .accroche{
            font-size: 2em;
        }

        //box-right --------------------------------
        .box-right{
            display: none;
        }
    }

    // section-contact -------------------------------------------
    #section-contact{
        #section-contact{
            min-height: 90vh;
            max-height: 90vh;

            .map{
                padding-top: 1.5em;
            }

            .footer-left, .footer-right{
                padding-left: 6em;
            }

            h1{
                font-size: x-large;
                line-height: 2.5;
            }

            .table-location, .table-horaire{
                font-size: smaller;
            }
        }
    }
}

/* Extra Small devices -------------------------------------------------------*/
@include xsmall-device {
    // section-slide ---------------------------------------------
    #section-slide{
        padding-top: 0;
        margin-top: 6em;
        min-height: 70vh;
        max-height: 70vh;
        height: auto;

        .box-left, .box-right{
            min-height: 70vh;
            max-height: 70vh;
            height: auto;
            padding-top: 2em;
        }

        // box-left --------------------------------
        .justify-content-center{
            padding: inherit;
        }

        .intro{
            padding: 0;
            font-size: 1.2em;
            margin-top: 0;
        }

        .accroche{
            font-size: 1.6em;
            padding: 0;
            margin-bottom: 1.3em;
        }

        //box-right --------------------------------
        .box-right{
            display: none;
        }
    }

    // section-contact -------------------------------------------
    #section-contact{
        min-height: 100vh;
        max-height: 100vh;

        .map{
            padding-top: 1.5em;
        }

        .footer-left, .footer-right{
            padding-left: 2.5em;
        }

        h1{
            font-size: larger;
            line-height: 1.5;
        }

        .table-location, .table-horaire{
            font-size: smaller;
        }
    }
}
