// main: ../style.scss



/*------------------------------------------------------------------------------*/
/* SECTION-SLIDE */
/*------------------------------------------------------------------------------*/
#section-slide{
    height: 100%;
    max-height: 100vh;
    padding-top: 4em;


    //BOX-LEFT ------------------------------------------
    .box-left{
        box-sizing: border-box;
        max-height: 92vh;
        height: 100%;
    }

    .justify-content-center{
        padding: 10%;
    }

    .intro{
        text-align: justify;
        padding: 22% 0 15%;
        font-size: 31px;
    }

    .accroche{
        font-size: 36px;
        font-weight: bold;
        letter-spacing: 5px;
        text-align: center;
        padding-bottom: 5%;
    }

    .btn-left .btn, .btn-right .btn{
        font-size: larger;
        letter-spacing: 3px;
        width: 100%;
    }

    .bouton .btn{
        letter-spacing: inherit;
        width: 100%;
    }

    // BOX-RIGHT -------------------------------------
    .bg-slide{
        padding: 0;
        margin: 0;

        img{
           /* background: url("../img/slide-548634.jpg") no-repeat center; */
           background-size: cover;
           box-sizing: border-box;
           max-height: 92vh;
           height: 100%;
           width: 100%;
       }
    }
}


/*------------------------------------------------------------------------------*/
/* SECTION-CONTACT */
/*------------------------------------------------------------------------------*/
#section-contact{
    min-height: 90vh;
    max-height: 90vh;
    height: 100%;

    h1{
        font-size: 2em;
        line-height: 3;
        margin-top: 2em;
    }
    .map{
        margin: 0;
        padding: 0;
        padding-top: 3%;
    }

    .footer-left, .footer-right{
        padding-left: 6em;
    }
}


/* Large devices -------------------------------------------------------------*/
@include large-device{
    // SECTION-SLIDE ---------------------------------------
    #section-slide{
        padding-top: 9%;
        max-height: 80vh ;
        min-height: 55vh;
        height: 100%;

        .justify-content-center{
            padding: 11% 10% !important;
        }

        .intro {
            padding: 15% 0 13%;
            font-size: 20px;
        }
        .accroche{
            font-size: 26px;
            padding-bottom: 8%;
        }
        .btn{
            width: 100%;
        }
    }

    //SECTION-CONTACT --------------------------------------
    #section-contact{
        min-height: 85vh;
        max-height: 85vh;
        height: 100%;

        .footer-left, .footer-right{
            padding-left: 6em;
        }

        h1{
            margin-top: 1.2em;
        }
    }
}

/* Medium devices ------------------------------------------------------------*/
@include medium-device{

    /* --- section-slide --- */
    #section-slide{
        height: 97vh !important;
        padding-top: 12% !important;

        .btn{
            width: 100%;
            font-size: smaller;
        }
    }
    .box-left, .box-right{
        height: 81vh !important;
    }
    .intro {
        padding-top: 20% !important;
        padding-bottom: 15% !important;
        font-size: 21px !important;
    }
    .accroche{
        font-size: 23px !important;
        padding: 0 7% !important;
    }
    .bouton{
        margin-top: 15%;
    }


    /* --- section-contact --- */
    #section-contact{
        height: 93vh !important;

        .table{
            font-size: medium !important;
        }
    }
    .info h1{
        font-style: 27px !important;
    }
}



/* Small devices -------------------------------------------------------------*/
@include small-device{
    #section-contact{
        height: 150vh !important;
    }
    .info h1{
        padding: 5% 0 !important;
    }
}


/* Extra Small devices -------------------------------------------------------*/
@include xsmall-device {

}
