// main: ../style.scss


/*-----------------------------------------------------------------------------*/
/* background de section */
/*-----------------------------------------------------------------------------*/
/* droite */
.bg-clair{
    background-color: $color-light;
    color:$color-dark;
    box-sizing: border-box;
    max-height: 100vh;
    height: 100%;
}
.bg-paw-left{
    background: url('img/paw-left.png') no-repeat;
    background-position: left;
    background-size: cover;
    background-attachment:fixed;
    max-height: 103vh;
    height: 100%;
}
/* gauche */
.bg-fonce{
    background-color: $color-dark;
    color: $color-light;
    box-sizing: border-box;
    max-height: 100vh;
    height: 100%;
}
.bg-paw-right{
    background: url('img/paw-right.png') no-repeat;
    background-position: right;
    background-size: cover;
    background-attachment:fixed;
    max-height: 100vh;
    height: 100%;
}
.bg-light{
    background: $color-primary-light !important;
}





/*------------------------------------------------------------------------------*/
/* RESPONSIVE - MEDIA QUERIES */
/*------------------------------------------------------------------------------*/

/* Large devices -------------------------------------------------------------*/
@include large-device {
    .bg-paw-left{
        min-height: 80vh;
        max-height: 80vh;
        height: 100%;
    }
}

/* Medium devices ------------------------------------------------------------*/
@include medium-device {

    #section-activity .bg-paw-left,
    #section-gallery .bg-paw-left,
    #section-event .bg-paw-right,
    #section-newsletter .bg-silhouette{
        background: none;
    }
}

/* Mobile Layout -------------------------------------------------------------*/
@include mobile-layout {

}

/* Small devices -------------------------------------------------------------*/
@include small-device {

}

/* Wide Mobile Layout --------------------------------------------------------*/
@include wide-mobile {

}

/* Extra Small devices -------------------------------------------------------*/
@include xsmall-device {

}
