// main: ../style.scss


/*-----------------------------------------------------------------------------*/
/* background de section */
/*-----------------------------------------------------------------------------*/
/* droite */
.bg-clair{
    background-color: $color-light;
    color:$color-dark;
    box-sizing: border-box;
    max-height: 100vh;
    height: 100%;
}
.bg-paw-left{
    background: url('img/paw-left.png') no-repeat left;
    background-size: cover;
    max-height: 103vh;
    height: 100%;
}
/* gauche */
.bg-fonce{
    background-color: $color-dark;
    color: $color-light;
    box-sizing: border-box;
    max-height: 100vh;
    height: 100%;
}
.bg-paw-right{
    background: url('img/paw-right.png') no-repeat right;
    background-size: cover;
    max-height: 100vh;
    height: 100%;
}
.bg-light{
    background: $color-primary-light !important;
}




/*------------------------------------------------------------------------------*/
/* MEDIUM */
/*------------------------------------------------------------------------------*/
@include responsive(M){

}


/*------------------------------------------------------------------------------*/
/* SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(S){
    .box-left, .box-right{
        height: 78vh !important;
    }
    .box-left{
        position: absolute !important;
        background-color: rgba(34,34,34,0.6) !important;
    }
    .bg-slide{
        z-index: -1;
    }
    #section-slide{
        .justify-content-center{
            padding: 0 5% !important;
        }
        .btn {
            font-size: large;
        }
    }
    .intro{
        padding: 12% 0 8% !important;
    }
    .bouton{
        margin-top: 5% !important;
    }

}


/*------------------------------------------------------------------------------*/
/* EXTRA SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(XS){

}
