// main: ../style.scss


/*-----------------------------------------------------------------------------*/
/* background de section */
/*-----------------------------------------------------------------------------*/
/* --- bouton --- */
.btn{
    width: auto;
    line-height: 2;
    margin-top: 10%;
    margin-bottom: 10%;

    // btn-left -----------------------------
    &-left{
        text-align: right;
    }

    // btn-rigbt ---------------------------
    &-right{
        text-align: left;
    }

    // btn-center --------------------------
    &-center{
        text-align: center;
        font-size: x-large;
        letter-spacing: 2px;
        width: 50%;
    }
}

.btn-primary{
    background: $color-primary-light;
    border-color: $color-primary-light;
    color: $color-light;

    &:hover{
        background: $color-primary;
        border-color: $color-primary;
        color: $color-light;
    }
}

.btn-outline-primary{
    color: $color-primary-light;
    border: 2px solid $color-primary-light;

    &:hover {
        color: $color-light;
        background: $color-primary;
        border-color: $color-primary;
    }
}




/*------------------------------------------------------------------------------*/
/* LARGE */
/*------------------------------------------------------------------------------*/
@include responsive(L){
    .btn{
        margin: 3% 0;
    }
}

/*------------------------------------------------------------------------------*/
/* MEDIUM */
/*------------------------------------------------------------------------------*/
@include responsive(M){
    .btn-center .btn{
        width: 60% !important;
        margin: 5% 0 !important;
    }
    .btn{
        margin: 3% 0;
    }
}


/*------------------------------------------------------------------------------*/
/* SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(S){

}


/*------------------------------------------------------------------------------*/
/* EXTRA SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(XS){

}
