// main: ../style.scss

/*-----------------------------------------------------------------------------*/
/* cardEvent */
/*-----------------------------------------------------------------------------*/
.cardEvent{
    margin-top: 6%;
    margin-bottom: 6%;
    border: none;
    @include shadow-event;

    &:active, &:hover .cardEvent:focus{
        @include hover-shadow-event;
    }


    img{
        width: 100%;
        height: 22.5vh;
    }

    .date-event{
        background: rgba(180,122,75,0.70);
        position: absolute;
        width: 20%;
        height: 22.5vh;
        color: $color-light;
        text-align: center;
        padding-top: 15px;
        border-radius: .25rem 0 0 0;
    }

    .mois{
        border-bottom: 0.5px solid $color-light;
        font-weight: lighter;
        line-height: 3;
        margin-left: 15px;
        margin-right: 15px;
        font-size: 16px;
    }

    .jour{
        font-size: 30px;
        font-weight: bold;
        line-height: 2.2;
    }

    .annee{
        border-top: 0.5px solid $color-light;
        font-weight: lighter;
        line-height: 3;
        margin-left: 15px;
        margin-right: 15px;
        font-size: 16px;
    }

    .card-title{
        color: $color-primary-light;
        font-size: 21px;
    }

    .card-text{
        text-align: justify;
        color: $color-dark;
    }

    .lien-event{
        color: $color-primary-light;
        font-weight: lighter;
    }
}




/*------------------------------------------------------------------------------*/
/* LARGE */
/*------------------------------------------------------------------------------*/
@include responsive(L){
    .cardGallery .card-img-top{
        height: 122px !important;
    }
    .cardGallery img{
        height: 25vh !important;
    }
}


/*------------------------------------------------------------------------------*/
/* MEDIUM */
/*------------------------------------------------------------------------------*/
@include responsive(M){
    /* --- cardActivity --- */
    .cardActivity{
        height: 60vh !important;
    }
    .cardActivity.is-expanded .cardActivity__expander{
        max-height: 70vh !important;
        min-height: 55vh !important;
    }

    /* --- cardEvent --- */
    .cardEvent {
        .card-img-top{
            height: 38vh !important;
        }

        img{
            height: 38vh !important;
        }

        .date-event{
            height: 38vh !important;
        }

        .annee{
            font-size: small !important;
        }
    }

    /* --- cardGallery ---  */
    .cardGallery {
        .card-img-top{
            height: 34vh !important;
        }

        img{
            height: 43vh !important;
        }
    }

}



/*------------------------------------------------------------------------------*/
/* SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(S){
    /* --- cardActivity --- */
    .cardActivity.is-expanded .cardActivity__expander{
        padding-top: 11% !important;
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    }
    .cardActivity-txt{
        text-align: justify !important;
        -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .cardActivity-info{
        -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 50% !important;
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }
}


/*------------------------------------------------------------------------------*/
/* EXTRA SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(XS){

}
