// main: ../style.scss


/*-----------------------------------------------------------------------------*/
/* icons */
/*-----------------------------------------------------------------------------*/

.icons{
    vertical-align: middle;
    font-size: 20px;
    padding-right: 8px;
}


/*------------------------------------------------------------------------------*/
/* MEDIUM */
/*------------------------------------------------------------------------------*/
@include responsive(M){

}


/*------------------------------------------------------------------------------*/
/* SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(S){

}


/*------------------------------------------------------------------------------*/
/* EXTRA SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(XS){

}
