// main: ../style.scss


/*-----------------------------------------------------------------------------*/
/* iframe */
/*-----------------------------------------------------------------------------*/
.map{
    iframe{
        width: 100%;
        height: 40vh;
    }
}



/*------------------------------------------------------------------------------*/
/* RESPONSIVE - MEDIA QUERIES */
/*------------------------------------------------------------------------------*/

/* Large devices -------------------------------------------------------------*/
@include large-device {

}

/* Medium devices ------------------------------------------------------------*/
@include medium-device {
    .map{
        iframe{
            min-height: 30vh;
            max-height: 30vh;
            height: 100%;
        }
    }
}

/* Mobile Layout -------------------------------------------------------------*/
@include mobile-layout {

}

/* Small devices -------------------------------------------------------------*/
@include small-device {

}

/* Wide Mobile Layout --------------------------------------------------------*/
@include wide-mobile {
    .map{
        iframe{
            min-height: 30vh;
            max-height: 30vh;
            height: 100%;
        }
    }
}

/* Extra Small devices -------------------------------------------------------*/
@include xsmall-device {
    .map{
        iframe{
            min-height: 30vh;
            max-height: 30vh;
            height: 100%;
        }
    }
}
