// main: ../style.scss


/*-----------------------------------------------------------------------------*/
/* NEWSLETTER  */
/*-----------------------------------------------------------------------------*/
#section-newsletter{
    max-height: 57vh;
    min-height: 57vh;
    height: 100%;

    .bg-silhouette{
        background: URL('img/silhouette-humain.png')no-repeat left,
                    URL('img/silhouette-dog.png')no-repeat right;
        max-height: 60vh;
        min-height: 60vh;
        height: 100%;
        background-size: 190px;
    }

    .text{
        &-line-1{
            font-size: 26px;
            letter-spacing: 2px;
            margin-top: 15%;
            margin-bottom: 3%;
        }
        &-line-2{
            font-size: 30px;
            letter-spacing: 2px;
            margin-bottom: 6%;
        }
    }

    .form{
        &-mail{
            width: 100%;
            padding: 5px;
            max-height: 40px;
            min-height: 40px;
            line-height: 40px;
            margin-left: 4%;
        }
        &-bouton{
            width: 100%;
            padding: 5px;
            border: inherit;
            font-size: 20px;
            color: $color-light;
            background: $color-primary-light;
        }
    }
}




/*------------------------------------------------------------------------------*/
/* LARGE */
/*------------------------------------------------------------------------------*/
@include responsive(L){
    #section-newsletter{
        height: 65vh !important;

        .bg-silhouette{
            height: 65vh !important;
        }
    }

}

/*------------------------------------------------------------------------------*/
/* MEDIUM */
/*------------------------------------------------------------------------------*/
@include responsive(M){
    #section-newsletter{
        height: 75vh !important;

        .bg-silhouette{
            background-size: 23vh !important;
            height: 99vh !important;
        }
    }

    .text{
        &-line-1{
            font-size: 22px !important;
            margin-bottom: 7% !important;
        }

        &-line-2{
            font-size: 28px !important;
        }
    }
}


/*------------------------------------------------------------------------------*/
/* SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(S){
    #section-newsletter{
        height: 76vh !important;
    }
}


/*------------------------------------------------------------------------------*/
/* EXTRA SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(XS){

}
