// main: ../style.scss


/*-----------------------------------------------------------------------------*/
/* NEWSLETTER  */
/*-----------------------------------------------------------------------------*/
#section-newsletter{
    max-height: 57vh;
    min-height: 57vh;
    height: 100%;

    .bg-silhouette{
        background: URL('img/silhouette-humain.png')no-repeat left,
                    URL('img/silhouette-dog.png')no-repeat right;
        max-height: 60vh;
        min-height: 60vh;
        height: 100%;
        background-size: 190px;
    }

    .text{
        &-line-1{
            font-size: 26px;
            letter-spacing: 2px;
            margin-top: 15%;
            margin-bottom: 3%;
        }
        &-line-2{
            font-size: 30px;
            letter-spacing: 2px;
            margin-bottom: 6%;
        }
    }

    .form{
        &-mail{
            width: 100%;
            padding: 5px;
            max-height: 40px;
            min-height: 40px;
            line-height: 40px;
        }
        &-bouton{
            width: 100%;
            padding: 5px;
            border: inherit;
            font-size: 20px;
            color: $color-light;
            background: $color-primary-light;
            margin-left: -30px;
        }
    }
}




/*------------------------------------------------------------------------------*/
/* RESPONSIVE - MEDIA QUERIES */
/*------------------------------------------------------------------------------*/

/* Large devices -------------------------------------------------------------*/
@include large-device {
    #section-newsletter{
        min-height: 60vh;
        max-height: 60vh;
        height: 100%;

        .bg-silhouette{
            min-height: 68vh;
            max-height: 68vh;
            height: 100%;
        }
    }

}

/* Medium devices ------------------------------------------------------------*/
@include medium-device {
    #section-newsletter{
        height: 75vh !important;

        .bg-silhouette{
            background-size: 23vh !important;
            height: 99vh !important;
        }
    }

    .text{
        &-line-1{
            font-size: 22px !important;
            margin-bottom: 7% !important;
        }

        &-line-2{
            font-size: 28px !important;
        }
    }
}


/* Mobile Layout -------------------------------------------------------------*/
@include mobile-layout {

}

/* Small devices -------------------------------------------------------------*/
@include small-device {
    #section-newsletter{
        height: 76vh !important;
    }
}
/* Wide Mobile Layout --------------------------------------------------------*/
@include wide-mobile {

}

/* Extra Small devices -------------------------------------------------------*/
@include xsmall-device {

}
