// main: ../style.scss


/*-----------------------------------------------------------------------------*/
/* table */
/*-----------------------------------------------------------------------------*/

table{
    th, td{
        border: none;
    }
}

.table-location{
    width: 100%;
    tr{
        line-height: 2.5;
    }
    .th-icon{
        width: 8%;
        .icons{
            vertical-align: middle;
            font-size: 20px;
            padding-right: 8px;
        }
    }
}

.table-horaire{
    width: auto;
    tr{
        line-height: 2;
    }
    th{
        width: 20%;
        padding-left: .5em;
    }
    td{
        width: 60%;
    }
}

/*------------------------------------------------------------------------------*/
/* MEDIUM */
/*------------------------------------------------------------------------------*/
@include responsive(M){

}


/*------------------------------------------------------------------------------*/
/* SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(S){

}


/*------------------------------------------------------------------------------*/
/* EXTRA SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(XS){

}
